{% macro renderTime(form) %}
    <div class="field"><label>{{ form_label(form) }}</label></div>
    <div class="ui four fields">
        <div class="field">
            {{ form_row(form.hour) }}
            {% if form.children.hour.vars.value is empty and form.children.minute.vars.value is not empty %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
        <div class="field">
            {{ form_row(form.minute)}}
            {% if form.children.minute.vars.value is empty and form.children.hour.vars.value is not empty %}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
